.barContainer {
   float:left;
}

.pieContainer{
    
}


.bar{
   
}

.axis path,line{
    shape-rendering: crispEdges;
}

.axis text {
    
}

.yAxisSelector{
    
    float:left;
    
}

.xAxisSelector{
    
}

.userInput{
    
}