body{
	background-color: #fff;
	width: 100%;
}

#selectionYear
{
	display: inline-block;
	background-color: #ecf0f1;
	padding-left: 1%;
	float: left;
}

.gameIcon
{
	display: inline-block;
	padding-left: 1%;
	cursor: pointer;
}

#selectionEoI
{
	display: inline-block;
	background-color: #ecf0f1;
	padding-left: 1%;
	float: left;
}

#selectionCoC
{
	display: inline-block;
	background-color: #ecf0f1;
	padding-left: 1%;
	float: left;
}

#selectionFoS
{
	display: inline-block;
	background-color: #ecf0f1;
	padding-left: 1%;
	float: left;
}
	
#selectionPanel{
	width: 100%;
	height: 50px;
    display: inline-block;
	z-index: 100;
}

#mapPanel{
	width: 60%;
	height: 400px;
	position: absolute;
	top: 19px;
}

#mapPiePanel{
	width: 40%;
	height: 400px;
	position: absolute;
	top: 100px;
	left: 850px;
}

#mapPieTip {
				display: inline-block;
				vertical-align: top;
				margin-right: 7%;
				float: right;
				height: auto;
				padding: 1%;
				background-color: white;
				-moz-border-radius: 10px;
				border-radius: 10px;
				-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
				-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
				box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
				pointer-events: none;
			}

.mapPiePanel{
	width: 40%;
	height: 400px;
	position: absolute;
	top: 100px;
	left: 850px;
}

#mapPieSVG.hidden, .hidden, #mapPieTip.hidden, #mapState.hidden{
	display: none;
}

#barPanel{
	width: 40%;
	height: 300px;
	position: absolute;
	top: 600px;
}

#barPiePanel{
	width: 30%;
	height: 300px;
	position: absolute;
	top: 600px;
	left: 600px;
}

#barLinePanel{
	width: 30%;
	height: 300px;
	position: absolute;
	top: 600px;
	left: 900px;
}

div.bar {
				display: inline-block;
				width: 20px;
				height: 75px;	/* Gets overriden by D3-assigned height below */
				margin-right: 2px;
				background-color: teal;
			}
.states-bundle :hover {
  fill: #FFE333;

}

.states-bundle :active {
  fill: red;

}

#mapState
{
	font-size: 2em;
	position: absolute;
	top: 380px;
	left:680px;
}

div.tooltip {   
 	position: absolute;           
	text-align: center;           
	width: 60px;                  
	height: 28px;                 
	padding: 2px;             
	font: 12px sans-serif;        
	background: white;   
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;         
}
		
		#tooltip {
				position: absolute;
				width: 300px;
				height: auto;
				padding: 10px;
				background-color: white;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
				-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
				box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
				pointer-events: none;
			}
			
			#tooltip.hidden {
				display: none;
			}
			
			#tooltip p {
				margin: 0;
				font-family: sans-serif;
				font-size: 16px;
				line-height: 20px;
			}
.showClickFinger
{
	cursor: pointer;
}

div[id^="questionalPanel"] {
    width: 55%;
	display: inline-block;
	padding: 1%;
	float: left;
}

div[id^="answerlPanel"] {
    width: 35%;
	display: inline-block;
	padding: 1%;
}

div[id^="leftAtQuestion"] {
    width: 75%;
	display: inline-block;
	padding: 1%;
}

div[id^="rightAtQuestion"] {
    width: 15%;
	display: inline-block;
	padding: 1%;
}

.w3-button {
	width: 100%;
}

.marginTop290 {
	margin-top: 290%;
}

div[id^="panel_"] {
    width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.imageSize{
	width: 90%;
}